page-estadisticas {

.texto{
	color: black;
	font-size: 1.5rem;
	font-weight: bold;	
	}
	.texto2{
	color: black;
	font-weight: bold;		
	font-size: 1.5rem;
		
	}
	.texto3{
	color: black;
	font-weight: bold;		
	font-size: 1.5rem;
		
	}
	.centro1{
		text-align: center;
		  vertical-align: text-bottom;
		align-content: center!important;
		font-size: 1.3rem;
		background-color: ghostwhite
	}
	
	.centro2{
		text-align: center;
		  vertical-align: text-bottom;
		align-content: center!important;
		font-size: 1.3rem;
		background-color: #E0F2F1;
	}
	.centro{
		text-align: center;
		  vertical-align: text-bottom;
		align-content: center!important;
		font-size: 1.3rem;
		background-color: #E0F2F1;
	}
	.titulo1{
	background-color:white;
	}
	.espacio{
	background-color:white;
		height: 10%;
	}
	.col{
		
	text-align: center;	
	}
	
	
}
