page-estadisticastab {
		.texto{
	color: black;
	font-size: 1.5rem;
	font-weight: bold;	
	}
	.texto2{
	color: black;
	font-weight: bold;		
	font-size: 1.5rem;
		
	}
	.texto3{
	color: black;
	font-weight: bold;		
	font-size: 1.5rem;
		
	}
	.centro1{
		text-align: center;
		  vertical-align: text-bottom;
		align-content: center!important;
		font-size: 1.5rem;
	}
	.centro{
		
	}
	.col{
		
	text-align: center;	
	}
	.prueba {
    height: 15%;
    color: white;
    background-color: #26A69A;
    font-size: 1.5rem;
    font-weight: bold;
}
}
