.ios, .md {
 
  page-bienvenida{

  .swiper-pagination-bullet-active {
    background: #A713E8;
  }

 
    ion-slide {
      //background-color: #32db64;
    }
 
    ion-slide img {
      height: auto!important;
      width: auto !important;
    }
 
  }
 
}