<ion-header>
<ion-navbar color="primary">
    <ion-title> Torneos {{prueba}}</ion-title>
	  <ion-buttons end>


	  </ion-buttons>
  </ion-navbar>
</ion-header>
 
<ion-content>
	   
	

	<ion-grid>

      <ion-row><ion-col>La Cantera</ion-col></ion-row>
	  <ion-row >
		   <button ion-button full ion-button color="secondary"  *ngFor="let u of user | async"(click)="seleccionLiga(u)">{{ u.Liga }}</button> 
	 </ion-row>
	  </ion-grid>
    
	
	<!--
	<ion-content>

 
		
		<ion-list>
        <ion-item *ngFor="let nomligas of arrLigas">{{nomligas}}</ion-item>
        </ion-list>
</ion-content>
</ion-content>-->
	